body {
    margin: 0px;
}

.head {
    margin: 0px;
    padding-top: 40px;
    color: white;
    text-align: center;
}

.brief {
    text-align: center;
    padding-left: 420px;
    color: white;
    width: 40%;
}

.whole-box {
    background-image: url("./meeting.webp");
    height: 800px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin-top: 0px;
    background-position: center;
}

.box-1 {
    height: 260px;
    float: left;
    margin-left: 30px;
    width: 20%;
    margin-left: 260px;
    border: 2px solid white;
    border-radius: 20px;
}


.box-2 {
    height: 260px;
    float: left;
    /* margin-left: 30px; */
    width: 20%;
    border: 2px solid white;
    margin-left: 20px;
    border-radius: 20px;
}


.box-3 {
    height: 260px;
    float: left;
    /* margin-left: 30px; */
    width: 20%;
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 20px;
}

.box-4 {
    height: 260px;
    float: left;
    margin-left: 30px;
    width: 20%;
    margin-top: 20px;
    margin-left: 260px;
    border: 2px solid white;
    border-radius: 20px;
}


.box-5 {
    height: 260px;
    float: left;
    margin-left: 30px;
    width: 20%;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 20px;
}


.box-6 {
    height: 260px;
    float: left;
    margin-left: 30px;
    width: 20%;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 20px;
}

#bulb {
    font-size: 30px;
    margin-left: 115px;
    border: 2px solid orangered;
    border-radius: 50%;
    background-color: orangered;
    padding: 10px;
    margin-top: 50px;
    color: white;
}

.name {
    text-align: center;
    color: white;
}


.para {
    text-align: center;
    margin-left: 35px;
    color: white;
    width: 80%;
}

.para2 {
    text-align: center;
    /* margin-left: 35px;*/
    color: white;
    /* width:75%;*/
}

.para3 {
    text-align: center;
    width: 80%;
    margin-left: 30px;
    /* margin-left: 35px;*/
    color: white;
    /* width:75%;*/
}

.footer {
    text-align: center;
    float: left;
    margin-left: 145px;
    padding-top: 10px;
    color: white;
    width: 80%;
}

.footer2 {
    text-align: center;
    float: left;
    margin-left: 640px;
    padding-top: 10px;
    border: 2px solid orangered;
    border-radius: 20px;
    background-color: orangered;
    padding: 5px;
    color: white;
    width: 10%;
}